<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="collectNews.devwonny.mapper.KeywordMapper">

    <insert id="save" keyProperty="keyword_id">
        insert into keyword (keyword_name, using_keyword)
        values (#{keywordName}, #{usingKeyword})
    </insert>

    <update id="update">
        update keyword
        set keyword_name=#{updateParam.keywordName},
            using_keyword=#{updateParam.usingKeyword},
        where keyword_id = #{keywordId}
    </update>

    <select id="findById" resultType="Keyword">
        select *
        from keyword
        where keyword_id = #{keywordId}
    </select>

    <select id="findByKeyword" resultType="Keyword">
        select keyword_id, keyword_name, using_keyword
        from keyword
        where keyword_name = #{keywordName}
    </select>

    <select id="findAll" resultType="Keyword">
        select keyword_id, keyword_name, using_keyword from keyword
    </select>

</mapper>