<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>키워드 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/keywords/add}'|"
                    type="button">키워드 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>키워드</th>
                <th>키워드 사용여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/items/{keywordId}(keywordId=${item.keywordId})}" th:text="${item.keywordId}">2</a></td>
                <td th:text="${item.keywordName}">키워드</td>
                <td th:text="${item.usingKeyword}">false</td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='/'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">뒤로가기</button>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>